html, body {
    height: 1%;
    background-size: cover;
    background-image: Url(file:///C:/Users/LENOVO/Desktop/serioSTRONA/obrazy/gra3.png);
}
.s1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: monospace;
}
.powrot {
    top: 0px; bottom: 0px; right: 0px; left: 1370px;
    position: absolute;
    color: rgb(255, 0, 0);
    font-family: fantasy;
    font-size: 50px;
}