html, body {
    height: 1%;
    background-size: cover;
    background-image: Url(file:///C:/Users/LENOVO/Desktop/serioSTRONA/obrazy/gra2.png)
}
.test {
    height: 1px;
    width: 1px;
    top: 1550px; bottom: 0px; right: 0px; left: 0px;
    color: white;
    position: absolute;
}
.logo1 {
    size: 80px;
    font-size: 10px;
    height: 200px;
    top: 1170px; bottom: 0px; right: 0px; left: 250px;
    text-align: center;
    position: absolute;
}
.logo2 {
    size: 80px;
    font-size: 10px;
    height: 250px;
    top: 150px; bottom: 0px; right: 0px; left: 550px;
    position: absolute;
}
.title {
    font-size: 60px;
    top: 380px; bottom: 0px; right: 0px; left: 580px;
    color:white;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitle {
    font-size: 20px;
    top: 500px; bottom: 0px; right: 0px; left: 500px;
    color:cornsilk;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
.powrot {
    top: -40px; bottom: 0px; right: 0px; left: 1370px;
    position: absolute;
    color: rgb(255, 0, 0);
    font-family: fantasy;
    font-size: 50px;
    height: 20px;
}
.powrot:hover {
    color:rgb(255, 217, 0);
    font-weight: bold;
}
.imgst {
    top: 100px; bottom: 0px; right: 0px; left: 500px;
    position: absolute;
}

.FB {
    width: 210px;
    height: 55px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 370px; bottom: 100px; right: 0px; left: 520px;
    background-color: rgb(255, 149, 0);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 15px;
}
.FB:hover {
    color:rgb(217, 255, 140);
    font-weight: bold;
}




.PVP {
    width: 210px;
    height: 55px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 370px; bottom: 100px; right: 0px; left: 780px;
    background-color: rgb(255, 149, 0);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
}
.PVP:hover {
    color:rgb(217, 255, 140);
    font-weight: bold;
}
